@media(max-width:768px){
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
	}
	.navbar a {
		margin-left: 50px;
		font-size: 40px;
	}
	.header{
	position: fixed;
	top: 0;
	width: 150%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	}

}