* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
section {
	padding: 40px 15px;
}
.back h1 {
	text-align: left;
	text-decoration: none;
	color: #CC3333;
}
.contact {
	background: #101010;
	height: auto;%;
	width: auto;%;
	min-height: 100vh;
	background-size: cover;
}
.iframe {
	max-width: 100%;
	width: 720px;
	height: auto;
	border-radius: 10px;
	margin-left: 59%;
	margin-top: -470px;
}
.contact-form h1 {
	font-size: 80px;
	color: #fff;
	margin-bottom: 20px;
}
span {
	color: #f9004d;
}
.contact-form p {
	color: #c6c9d8bf;
	letter-spacing: 1px;
	line-height: 26px;
	font-size: 1.1rem;
	margin-bottom: 3.8;
}
.contact-form form {
	position: relative;
}
.contact-form form input, form textarea {
	width: 50%;
	padding: 17px;
	border: none;
	outline: none;
	background-color: #191919;
	color: #fff;
	font-size: 1.1rem;
	margin-bottom: 0.7rem;
	border-radius: 10px;
}
.contact-form textarea {
	resize: none;
	height: 200px;
}
.contact-form form .btn {
	display: inline-block;
	background: #f9004d;
	font-size: 1.1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid transparent;
	border-radius: 10px;
	width: 220px;
	transition: ease 20s;
	cursor: pointer;
}
.submit {
	margin-top: 0%;
	margin-left: 350px;
	position: absolute;
}
.Location h3 {
	margin-left: 64%;
	margin-top: -37%;
	color: crimson;
	position: absolute;
}